body {
    margin: 0;
    background-image: url("../images/birds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    height: 60px;
    background-color: rgba(0, 0, 255, 0.336);
    padding-top: 20px;
}

h1{
    margin: 0;
    text-align: center;
}

main{
    min-height: 723px;
}

h3{
    text-align: center;
}

ul{
    padding-left: 900px;
}

ol{
    padding-left: 900px;
}
img{
    height: 50px;
}
footer{
    height: 150px;
    background-color: rgba(0, 0, 255, 0.336);
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
}